* {
    margin: 0%;
    padding: 0%;
}

@font-face {
    font-family: "Avocado_creamy";
    src: url("../fonts/avocado_creamy/Avocado\ Creamy.otf");
    src: url("../fonts/avocado_creamy/Avocado\ Creamy.ttf");
}

@font-face {
    font-family: "Chicken_pie";
    src: url("../fonts/chicken_pie/CHICKEN\ Pie.otf");
    src: url("../fonts/chicken_pie/CHICKEN\ Pie.ttf");
}

@font-face {
    font-family: "pink_chicken";
    src: url("../fonts/pink_chicken/PinkChicken-Regular.ttf");
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

button {
    background-color: #FCD6C8;
    border-radius: 20px;
}

#btnPlay {
    float: right;
    margin-right: 20px;
    padding: 20px;
}

h1,
h2,
h3 {
    font-family: "Avocado_creamy" !important;
}

p {
    font-family: "pink_chicken" !important;
    font-size: 20px;
}

h1 {
    color: black;
    text-shadow: 6px 6px 8px wheat;
    margin-bottom: 20px;
    font-size: 50px;
}

h2 {
    font-size: 35px;
    font-weight: bold;
}

h3 {
    font-size: 25px;
    font-weight: bold;
}


/* -------------------- Style joh --------------------- */

body {
    background-image: url("../img/fond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.cadre,
.cadre img {
    width: 200px;
    height: 200px;
    z-index: 10;
}

.colonne2 {
    margin-top: 10px;
}


/*Colonne droite*/

#rules {
    background-color: #FCD6C8;
    font-size: 15px;
    height: 2000px;
}

.icon {
    width: 180px;
    height: 180px;
}

.nomJoueur {
    width: 180px;
}

button {
    font-family: "Chicken_pie";
}


/* -------------------- Style patricia ----------------- */

.btnJouez {
    width: 50%;
    height: 100px;
    background-color: #FCD6C8;
}

.fond {
    background-image: url("../img/fond2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100%;
    position: relative;
}


/* --------------------- Style Eléna ------------------- */

.imageTombante img {
    height: 50px;
    z-index: 50;
}

.imageTombante {
    height: 50px;
    z-index: 49;
}

#reposeCarteJ,
#reposeCarteO {
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.4);
}

#info {
    opacity: 0;
}

#btnRecommencer,
.ouvrirInfo,
.fermerInfo {
    margin-bottom: 5px;
    background-color: #FCD6C8;
    padding: 7px;
}

button {
    border: 1px solid black;
}

.ouvrirInfo,
.fermerInfo {
    float: right;
    margin-bottom: 40px;
}

.ouvrirInfo {
    display: none;
}

.regleResponsive {
    display: none;
    height: 2000px;
    width: 100%;
    background-color: #FCD6C8;
    text-align: center;
    padding: 70px;
}

.footer {
    background-color: #0A5674;
    height: 40px;
    width: 100%;
    color: white;
    position: absolute;
    bottom: 0;
}

@media screen and (max-width: 992px) {
    .colonne1 div {
        display: inline;
    }
    .colonne1 {
        text-align: center;
    }
    #reposeCarteJ,
    #reposeCarteO {
        width: 120px;
        height: 120px;
        background-color: white;
        margin-bottom: 20px;
    }
    .icon {
        width: 110px;
        height: 110px;
    }
    .cadre,
    .cadre img {
        width: 120px;
        height: 120px;
        z-index: 10;
    }
    #rules {
        margin-bottom: 20px;
        display: none;
    }
    .ouvrirInfo {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    #reposeCarteJ,
    #reposeCarteO {
        width: 100px;
        height: 100px;
        background-color: white;
        margin-bottom: 20px;
    }
    .btnJouez {
        height: 70px;
    }
    .icon {
        width: 80px;
        height: 80px;
    }
    .cadre,
    .cadre img {
        width: 90px;
        height: 90px;
        z-index: 10;
    }
    .regleResponsive {
        padding: 30px;
    }
    .regleResponsive p {
        font-size: 12px;
    }
    .regleResponsive img {
        width: 25px;
    }
    h1 {
        font-size: 25px !important;
    }
    h2 {
        font-size: 20px;
        margin-bottom: 30px;
    }
    h3 {
        font-size: 15px;
    }
    .nomJoueur {
        width: 150px;
    }
}